/* Color i used */
/* #2D3142 dark 
   whitesmoke

*/

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Spartan', sans-serif;

}
.navbar-toggler{
    background-color: #2D3142 !important;
}
.navbar{
    background-color: #353531 !important;
    color: whitesmoke !important;
}
/* header / banner */
.header{
    background-image: url('./Images/wood.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
}
.content{
    position: absolute;
    top: 40%;
    left: 25%;
    color: whitesmoke;
    font-weight: 100;
    
}
.content h1{
    font-size: 65px;
}
.content p{
    margin-top: 10px;
    padding: 10px;
}
/* About Section */
#about{
    background-color: #2D3142;
    color: whitesmoke !important;
}
#about .pic{
    /* margin-top: 30px; */
    background: url(./Images/restaurant.jpg) fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 600px solid transparent;
    border-left: 100px solid #203142;
    
}
#about .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Services */
#Services{
    background-color: #CDE0CD;
    padding: 40px;
}
.title{
    margin: 20px 0 40px 0;
}
#Services .fa{
    font-size: 100px;
    color: #536f97;  
    margin-bottom: 10px;  
}


/* Contact Section */
#contact{
    padding: 40px;
    background-color: #CDE0CD;
}
#contact .form-control{
    font-size: 20px;
}
#contact button{
    background-color: #2D3142;
    font-size: 24px;
    color: whitesmoke;
    margin-bottom: 20px;
}
#contact button:hover{
    background-color: #353531;
    color: #fff;
}

/* footer */

#footer{
    padding: 40px;
    color: whitesmoke;
    background-color: #353531;
}
#footer h2{
    margin-bottom: 20px;
}
#footer p{
    font-size: 20px;
}
#footer .websites a{
    text-decoration: none !important;
    color: #CDE0CD;
    font-size: 20px;
}
#footer .websites a:hover{
    color: #ced0ce;
}
#footer hr{
    background-color: whitesmoke;
}
.lower-row{
    margin-top:40px;
}
#footer .footer-icons{
    font-size: 20px;
}
#footer .footer-icons a{
    color: #909090;
    text-decoration: none !important;
}
#footer .footer-icons a:hover{
    color: whitesmoke;
}
#footer .copyrights h3{
    color: #ced0ce;
}
/* Our Team */
.services-container img{
    height: 350px;
    filter: grayscale(100%);
}
.services-container img:hover{
    filter: grayscale(0%);
    cursor: pointer;
}
.teamIcon{
    margin-left: 20px;
    margin-top: 20px;
    display: none;
  }
.image:hover+ .teamIcon{
    display: block;
}
.position{
    color: rgb(109, 7, 243);
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.image {
    display: block;
    width: 100%;
    height: auto;
  }

  /* .image:hover + .name,.image:hover + .teamIcon{
      color: blue;
      font-weight: bold;
  }
   */
/* ye kaam nahi kar raha agar me image pe hover krn to name or icons show hon */



  @media (max-width:650px){
      body{
        overflow-x: hidden;
      }
    .ourTeamCol{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 30%;
        
    }   
  }